[Desktop Entry]
Categories=Utility;TextEditor;X-Red-Hat-Base;
Comment=
Exec=sh -c '$HOME/bin/emacs-desktop.sh %F'
GenericName=Text Editor
Icon=emacs
MimeType=text/x-tex;text/x-pascal;text/x-moc;text/x-makefile;text/x-java;text/x-csrc;text/x-csrc;text/x-chdr;text/x-c++src;text/x-c++hdr;text/tcl;text/plain;application/x-shellscript;
Name=Emacs Client (magic script)
Path=
StartupNotify=true
StartupWMClass=Emacs
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
