[Desktop Entry]
Categories=System;
Comment[en_GB]=
Comment=
Exec=emacsclient -nc %u
GenericName[en_GB]=
GenericName=
MimeType=x-scheme-handler/org-protocol
Name[en_GB]=org-protocol
Name=org-protocol
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
