[Unit]
Description=Display outputs manager
Documentation=man:kanshi(1)

[Service]
ExecStartPre=test -n "$SWAYSOCK"
ExecStartPre=sleep 5
ExecStart=/usr/bin/kanshi

[Install]
WantedBy=sway-session.target
