/* light */
@define-color barbg #ccc;
@define-color selbg #eee;
@define-color text #000;
@define-color textDim #888;
@define-color warn yellow;
@define-color warn2 black;
@define-color crit red;
@define-color crit2 white;

@define-color sunkD grey;
@define-color sunkL white;

@define-color butD black;
@define-color butL white;
 
/* darker */
@define-color barbg #666;
@define-color selbg #ccc;
@define-color text #000;
@define-color textDim #aaa;
@define-color warn yellow;
@define-color warn2 black;
@define-color crit red;
@define-color crit2 white;

@define-color sunkD #333;
@define-color sunkL #aaa;

@define-color butD black;
@define-color butL white;



* {
    font-family: Terminus, CommitMono Nerd Font, FontAwesome, sans-serif;
    font-size: 14px;
    min-height: 0;
    color: @text;
}

window {
    background: @barbg;
}

box > box {
    padding: 2px;
}

box.modules-right widget {
    border-color: @sunkD @sunkL @sunkL @sunkD ;
    border-width: 1px;
    border-style: ridge;
    border-radius: 0px;
}
label {
    padding: 0px 3px 0px 3px;
    margin: 1px;
}


.warning {
    background: @warn;
}
.critical {
    background: @crit;
}


#language {
    min-width: 2em;
}
#language:not(.us) {
    background: aqua;
}

#window {
    padding-left: 8px;
}

#workspaces button.urgent {
    background: @crit;
    color: @crit2;
}
#workspaces button {
    border-color: @butL @butD @butD @butL ;
    border-width: 1px;
    border-style: ridge;
    border-radius: 0px;
    padding: 0px;  /* fixes possibly default taking too much space */
    margin-right: 2px;
}
#workspaces button.visible {
    border-color: @butD @butL @butL @butD;
}
#workspaces button.focused, #workspaces button.active {
    background: @selbg;
}


#mode, #submap {
    background: blue;
    color: #fff;
    border-bottom: 0px solid white;
}


#cpu {
    margin-right: 0;
}
#memory {
    margin-left: 0;
}


#disk.root {
    margin-right: 0;
}
#disk.tmp {
    margin-left: 0;
    margin-right: 0;
}
#disk.home {
    margin-left: 0;
}

#battery.not-charging  {
    background: blue;
    color: white;
}
#battery.charging {
    color: @warn;
}
#battery.discharging {
    background: @warn;
    color: @warn2;
}
#battery.critical {
    background: @crit;
    color: @crit2;
}

#network.disconnected {
    color: @textDim;
}
#network.linked {
    color: @crit;
}


#tray image {
    -gtk-icon-shadow: 1px 1px grey;
}

#tray menu {
    color: @text;
}
#tray menuitem label {
    background: inherit;
}
