@define-color module rgba(0,0,0,0.7);
@define-color cl_high #0827f5;


* {
    border: none;
    font-family: CommitMono, Terminus, CommitMono Nerd Font, FontAwesome, sans-serif;
    font-size: 12px;
    min-height: 0;
    background: rgba(0,0,0,0.0);
}

tooltip {
    background: rgba(0,0,0,1.0);
}
window {
    color: #aaa;
}

/* We provide spacing (as usually provided by waybar's config option) manually/fake it. */
/* This is since we want to have some widget close together, however we cannot pick a particular one */
/* just by a selector in CSS (and I won't be using :nth selector!). */
/* To set explicit "merging" we set margin to zero where necessary. */
widget {
    background: rgba(0,0,0,0.0);
}
label, widget > box {
    border-radius: 2px 2px;
    background: @module;
    padding: 0px 5px 0px 5px;  /* inside spacing */
    margin: 1px 2px 0px 1px;  /* "widget" spacing */
}


sup, sub {
    font-size: 200%;
}

.warning {
    color: yellow;
}
.critical {
    color: red;
}

#language {
    min-width: 20px;
}


box#workspaces {
    background: @module;
}
#workspaces label {
    background: transparent;
}
#workspaces button {
    color: #aaa;
    text-shadow: #333 0px 0px 2px;
}
#workspaces button.visible {
    background: #008080;
    color: #fdffff;
}
#workspaces button.focused, #workspaces button.active {
    background: @cl_high;
    /* background: linear-gradient(90deg, @cl_high 24px, #ccc 32px); /\* cause we have some icons on the right *\/ */
    color: #fdffff;
    text-shadow: #fff 0px 0px 2px;
}


#mode, #submap {
    background: #a3f;
    color: #fff;
    border-bottom: 2px solid white;
}


#cpu {
    margin-right: 0;
}
#memory {
    margin-left: 0;
}


#disk.root {
    margin-right: 0;
}
#disk.tmp {
    margin-left: 0;
    margin-right: 0;
}
#disk.home {
    margin-left: 0;
}

#clock {
    font-weight: bold;
    color: white;
}

#battery.warning:not(.charging) {
    background: red;
}

#network.disconnected {
    background: #f53c3c;
}


#tray menu {
    background: #c3c3c3;
    color: #000;
}
#tray menuitem label {
    background: inherit;
}
