/* black */
@define-color active #0f9fcf;
@define-color visible #5f8faf;
@define-color barbg #000;
@define-color text #aaa;
@define-color textDim #666;
@define-color warn @barbg;
@define-color warn2 #ff0;
@define-color crit red;
@define-color crit2 white;

@define-color ws1 rgba(223,   0,   0, 0.8);
@define-color ws2 rgba(223, 223,   0, 0.8);
@define-color ws3 rgba(  0, 223,   0, 0.8);
@define-color ws4 rgba(  0, 223, 223, 0.8);
@define-color ws5 rgba(  0,   0, 223, 0.8);
@define-color ws6 rgba(223,   0, 223, 0.8);



* {
    font-family: Iosevka Fixed, Terminus, CommitMono Nerd Font, FontAwesome, sans-serif;
    font-size: 13px;
    min-height: 0;
    color: @text;
}

window {
    background: @barbg;
}

box > box {
    padding: 0px;  /* allows to place mouse cursor to very corner and scroll the workspaces */
    padding-top: 2px;
}

box.modules-right widget {
    border-left-color: #333 ;
    border-left-width: 1px;
    border-style: ridge;
    border-radius: 0px;
}
label {
    padding: 0px 3px 0px 3px;
    margin: 1px;
}


.warning {
    background: @warn;
    color: @warn2;
}
.critical {
    background: @crit;
    color: @crit2;
}


#language {
    min-width: 2em;
}

#window {
    padding-left: 12px;
}

#workspaces button.empty label {
    color: #666;
}

#workspaces button.urgent {
    background: @crit;
    color: @crit2;
}
#workspaces button {
    border-radius: 0px;
    padding: 0px;  /* fixes possibly default taking too much space */
    border-right: 1px solid gray;
    padding-right: 2px;
}
#workspaces button label {
    margin: 0px;
    /* text-shadow: -1px -1px #000, -1px 1px #000, 1px -1px #000, 1px 1px #000; */
    color: white;
}
#workspaces button.visible {
    background-image: linear-gradient(to right, white 0%, rgba(0,0,0,0) 3em, white 100%);
}
#workspaces button.focused, #workspaces button.active {
    background: #285577;
}


#scratchpad {
    background: white;
    color: black;
    margin-left: 10px;
    border-radius: 12px;
}


#mode, #submap {
    background: blue;
    color: #fff;
    min-width: 50em;
}


#cpu {
    margin-right: 0;
}
#memory {
    margin-left: 0;
}


#disk.root {
    margin-right: 0;
}
#disk.tmp {
    margin-left: 0;
    margin-right: 0;
}
#disk.home {
    margin-left: 0;
}

#battery.not-charging  {
    background: blue;
    color: white;
}
#battery.charging {
    color: @warn2;
    background-color: @warn;
}
#battery.discharging {
    background: @warn;
    color: @warn2;
}
#battery.critical {
    background: @crit;
    color: @crit2;
}

#network.disconnected {
    color: @textDim;
}
#network.linked {
    color: #828;
}


#tray image {
    -gtk-icon-shadow: 1px 1px grey;
}

#tray menu {
    color: @text;
}
#tray menuitem label {
    background: inherit;
}
